*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
}

h1{
    font-family: 'Montserrat', sans-serif;

}
.main-header{
    background-color: #2C3E50
    
}

.presentacion{
    background-color: #18BC9C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

